{{page-title "Recipesapp"}}
<div id="banner-container">
  <NavbarContainer></NavbarContainer>
</div>
<div class="category_container" id="category_container">
    <h4 id="cate_title">CATEGORIES</h4>
  <div class="category">
    {{#each this.categoryData as |item|}}
          <div id="{{item.categoryName}}_div">
          <div id="{{item.categoryName}}_pic1" class="category_images" style="background-image: url({{item.image}})">
            <h4 id="{{item.categoryName}}_title">{{item.categoryName}}</h4>
          </div>
          <p class="about_food">{{item.description}}</p>
          <LinkTo @route='category-page' @model={{item.id}} class="go_button_link"><button type="button" class="go_to_Button">GO TO<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button></LinkTo>
      </div>
    {{/each}}
  </div>
</div>
<div class="recipe_container" id="recipe_container">
  <h4 id="recipe_title">RECIPES</h4>
       <RecipesContainer @data={{this.model}} >
       </RecipesContainer>
</div>
<div class="ads_container">
<h4 id="contact_title">CONTACT</h4>
<div class="ads_block">
  <div id="gift_box">
    <h3 class="ads_title">BUY GIFT CARDS ONLINE</h3>
    <h3 class="about_this_box">Provide with our Gift Card to whom you most want and is sure.</h3>
    <div id="gift_button">GIFT CARD</div>
  </div>
  <div id="subscribe_box">
    <h3 class="ads_title">SUBSCRIBE TO GOODFOOD MAGAZINE</h3>
    <h3 class="about_this_box">Get recipes, tips, and news delivered to your inbox.</h3>
    <div class="mailtext_box">
      <input type="text"  value="" placeholder="Enter your mail *" id="mail"/>
      <input type="button" value="SUBSCRIBE" id="subscribe_button">
    </div>
  </div>
  <div id="explore_box">
     <h3 class="ads_title">VISIT OUR STORE</h3>
     <h3 class="about_this_box">Here you’ll find a carefully chosen kitchen inventory.</h3>
     <div id="explore_button">EXPLORE SHOP</div>
  </div>
</div>
<FooterContainer>

</FooterContainer>
</div>
